/* create by http://freehtml5templates.com*/

/*reset*/
*{
	margin: 30;
	padding: 30;
}

/*render html5 elements as block*/
header,footer,section,aside,nav,article{
	display: block;
}

body {
	background: black;
	margin: 10px;
	line-height: 10px;
	border: ridge 20px gray;
	background: #e0e0e0 url(images/bg.jpg)repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666
	font-size: 30px;
	line-height: 30px;
}

img {
  float: left;
  width: 400px;
  border: black 5px solid;
}

/*layout*/

#erapper{
	width: 940px
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #fff
}

nav{
	width: 1100px;
	height: 30px;
	margin: 10 auto;
	text-align: center;
	background: gray;
}

header{
	width: 1050px;
	padding-bottom: 40px;
	margin: 10 auto;
	background: #fff;
	overflow: auto;
}

#main{
	width: 1185px;
	margin: 10 auto
	background: #FFF;
}

footer{
	width: 1185px;
	margin: 0 auto;
	clear: both;
}

/*basics*/

@font-face{
	font-family: 'MedioRegular';
	src: url('Medio-Webfont.eot');
	src: local('MedioRegular'), url('Medio-Webfont.woff') format('woff'), 
	url('Medio-Webfont.ttf') format('truetype'), url('Medio-Webfont.svg#webfontdClsLX7n')
	format('svg');
	font-weight: normal;
	font-style: normal;
}

h2,h3,h4,h5,h6{
	display: block;
	text-indent: 2px;
	font-variant: small-caps;
	line-height: 2px;
	padding: 0px;
	font-weight: bold;
	color: #000
}

#jj{
	margin-bottom: 5px;
	text-align: left; 
}

#gg{
	margin-bottom: 1px;
	width: 1010px;
	margin: 10 auto;
	text-align: left; 	
}

#www{
	margin: 10 auto;
	border: white 2px solid;
	text-align: left;
}

#mmm{
	width: 400px;
}
#table{
	margin: 10 auto;
	width: 1150px;
}

a:link,a:visited{
	clear: #000
	text-decoration: none;
}

a:hover, a:active{
	color: #A32626
}

p{
	margin-bottom: 18px;
	text-align: left; 
}

li{
	padding-left: 25px
}

/*site title*/

h1{
	font-weight: bold;
	font-family: 'MedioRegular',Verdana,Arial,Helvetica,sans-serif;
	font-size: 40px;
	padding: 10px 10px 10px;
}

h1 a:link, a:visited{
	color: #A32626
}

h1 a:hover, a:active{
	color: #000;
}

/*nav*/

nav .menu{
	font-weight: bold;
}

nav .menu ul{
	margin: 0;
	padding: 8px 0 0 20px;
	list-style: none;
	line-height: normal;
}

nav .menu li{
	display: block;
	float: left;
}

nav .menu a{
	display: block;
	float: left;
	margin-right: 5px;
	padding: 0px 5px;
	text-decoration: none;
	font-size: 12px;
	color: #fff
}

nav .menu a:hover{
	text-decoration: underline;
	color: #A32626
}

/*header*/

header .heradlineimage img{
	float: left;
	padding: 20px 10px 10px 0;
	width: 1000px;
}

header .headline{
	margin-left: 40px;
	float: left;
	width: 600px;
	text-align: left;
}

header .headline h2{
	font-size: 25px;
	font-variant: small-caps;
	line-height: normal;
	text-shadow: 0px 1px 2px #777
	text-align: left;
}

/**articles**/

article{
	margin-bottom: 10px;
	border: white 10px solid;
}

article img{
	width: 300px;
	border: black 3px groove;
}
.alignleft, img.alignleft{
	display: inline;
	float: left;
	margin-right: 5px;
}

.alignright, img.alignright{
	display: inline;
	float: right;
	margin-left: 5px;
}

.aligncenter, img.aligncenter{
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.triplecols{
	width: 1280px;
	margin: 10 auto;
	border: white 2px solid;
}

/*triple blocks of images and captions*/

.tripleblocks{
	display: inline-block;
	vertical-align: top;
	width: 400px;
	text-align: left;
	margin: white 5px solid;
}

.triplelesftblock{
	margin-right: 60px;
}

.triplemiddleblock{
	margin-right: 100px;
}

.triplerightblock{
	margin-right: 10px;
}

.tripleblocks .thumbnail{
	border: none;
}

.tripleblocks .caption{
	display: block;
	font-size: 20px
	font-variant: small-caps;
}

.tripleblocks .byline{
	font-variant: small-caps;
	color: #b0b0b0;
}

.tripleblocks p{
	margin-top: 5px;
	text-align: justify;
}

/*footer widget blocks*/

aside h3{
	font-size: 18px
}

aside ul{
	list-style: none;
	margin-bottom: 20px;
	margin-top: 15px;
	width: 200px;
}

aside li{
	display: block;
	text-underline: none;
}

aside li a:hover{
	text-decoration: underline;
}

#footer-area{
	background: #b0b0b0;
	margin: 10 auto;
	display: inline-block;
	color: #black;
	font-size: 90%;
	border: black 5px groove;
}

#footer{
	margin: 10 auto;
}

.footer-segment{
	float: right;
	width: 50px;
	margin-left: 0px;
}

.footer-segment-first{
	margin-right: 20px;
	margin-left: 10px;
	width: 400px;
	float: right;
}

.footer-segment-second{
	margin-right: 30px;
	margin-left: 10px;
	width: 400px;
	float: right;
}

.footer-segment-third{
	margin-right: 30px;
	margin-left: 10px;
	width: 400px;
	float: right;
}

.footer-segment-last{
	margin-right: 20px;
	margin-left: 10px;
	width: 400px;
	float: right;
}

footer aside h3{
	color: #gray;
}

footer p{
	margin-top: 15px;
	color: #333;
}